body{
    margin: 0;
    width: 100vw;
    height: 100vh;
}
a{
    text-decoration: none;
    color: black;
}
.box{
    width: 25rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: relative;
    justify-content: center;
    align-items: center;
}
.title{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.logo{
    margin-left: 0.5rem;
}
.content{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}
.user,
.business{
    border: 0.0625rem solid #d2d0d0;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
}
.user:hover,
.business:hover{
    border: 0.2rem solid #d2d0d0;
    font-weight: bold;
}